.widgets-panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin-top: 25px;
}

.widgets-panel .block {
  width: 200px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  padding: 1rem;
  background: var(--primary-100); 
  border: 3px solid transparent;
  aspect-ratio: 1/1;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    border-color: var(--accent-300);
    box-shadow: 0 0 100px 0 var(--secondary-200);
  }
}

.widgets-panel .block:has(svg) * {
  font-size: 6rem;
  color: var(--text-500);
}

.widgets-panel .block:has(svg):hover * {
  color: var(--text-700);
}

.widgets-panel svg, .widgets-panel path {
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
