.switch-theme {
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch-theme button {
  aspect-ratio: 1 / 1;
  width: 40px;
  border-radius: 13px 6px;
  display: grid;
  place-items: center;
  font-size: 1.05rem;
  background: var(--accent-200);
}

.switch-theme button * {
  color: var(--text-800);
}
